doctype html(lang = "ja")
html
  head
    meta(charset="utf-8")
    title タイトル
    link(href='./css/main.css',rel='stylesheet')
    script(src='./js/main.js',type='text/javascript')
  body
    block body