@import "./_normalize"
@import "./_reset"
@import "./_setting"
@import "./_util"

// baseStyle
html
  font-size: $baseFontSize
body
  font-family: $baseFontFamily
  -webkit-font-smoothing: antialiased;
  background-color: #FFF
  width: $mainWidth

h1,h2,h3,h4,h5,h6
  -webkit-font-smoothing: antialiased;
  font-size: 1rem
p
  color: $baseFontColor
  font-size: 1rem

a
  color: $baseFontColor
  text-decoration: none
a:hover
  text-decoration: underline

img,iframe
  vertical-align: top

